<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Movie Recommendation System</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
<body background="../static/images/background.jpg">
 <center><h1>Movie Recommendation System</h1></center>
 </br>
<center><a class="btn btn-lg btn-success" href="showmovies" role="button">List of All Movies</a> </center>
</br>
<center><a class="btn btn-lg btn-success" href="recmethod" role="button">Recommendation For Users</a> </center>
</br>

</body>
 
</html>