<!DOCTYPE html>
<html>
<head>
    <title>Movie Recommendation System</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body background="../static/images/background.jpg">
<center><h1>Approaches</h1></center>
<b>
<table class="table table-bordered">
	<tr>
		<td>
			<a class="btn btn-lg btn-success" href="als" role="button">Alternating Least Squares Approach</a>
		</td>
		<td>
		
		</td>
	</tr>
	<tr>
	<td>
<a class="btn btn-lg btn-success" href="wals" role="button">Weighted Alternating Least Squares Approach</a> 
</td>
<td>

</td>
</tr>
<tr>
<td>
<a class="btn btn-lg btn-success" href="timepro" role="button">Time Dependent Probabilistic Approach</a>
</td>
<td>

</td>
</tr>
</table>
</b>
</body>
</html>