<!DOCTYPE html>
<html>
<head>
    <title>Movie Recommendation System</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
<body>
Enter the serial number of testset:

  <form action="wals1" method="post">
        <input type="text" name="item2" id="item" align="left">
        <input class="btn btn-default" type="submit" value="Submit" align="center" >
</form>
</body>
</html>