<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Movie Recommender System</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Movie Recommender System</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Movie Recommender System</h1>
            <p class="lead"></p>
        </div>
 
        <div class="row marketing">
            <!--<div class="col-lg-6">
                <h4>View</h4>
                <p><a class="btn btn-lg btn-success" href="myrecommendation" role="button">View My recommendations</a></p>
            </div>-->
 
            <div class="col-lg-6">       
                <h4>Feed data</h4>
                <a class="btn btn-lg btn-success" href="sendmydata" role="button">Get my recommendations</a> 
            </div>
        </div>
 
        <footer class="footer">
            <p>&copy; IIIT Hyderabad 2016</p>
        </footer>
 
    </div>
</body>
 
</html>
